<header class="header">
  <div class="headInner">
    <a href="#" title="" class="logo">
      <img src="../../assets/images/logo.png" width="" height="" alt="" />
    </a>
    <nav class="mainMenu">
      <div class="icons">
        <a href="#">
          <img
            src="../../assets/images/facebook-white.png"
            width=""
            height=""
            alt=""
          />
        </a>
        <a href="#">
          <img
            src="../../assets/images/twitter-white.png"
            width=""
            height=""
            alt=""
          />
        </a>
        <a href="#">
          <img
            src="../../assets/images/instagram-white.png"
            width=""
            height=""
            alt=""
          />
        </a>
        <a href="#">
          <img
            src="../../assets/images/linkedin-white.png"
            width=""
            height=""
            alt=""
          />
        </a>
      </div>
      <ul class="socialIcons">
        <li>
          <a href="index.html" class="active"
            ><img
              src="../../assets/images/home-icon.png"
              width=""
              height=""
              alt=""
          /></a>
        </li>
        <li>
          <a href="exporters.html">Exporters</a>
        </li>
        <li>
          <a href="products.html">Products</a>
        </li>
        <li>
          <a href="aboutUs.html">About</a>
        </li>
        <li>
          <a href="news.html">News</a>
        </li>
        <li>
          <a href="contact.html">Contact</a>
        </li>
        <li>
          <a href="registration.html">Registration</a>
        </li>
        <li>
          <a
            href="#"
            type="button"
            class="btn login"
            data-toggle="modal"
            data-target="#loginModal"
          >
            LOGIN
          </a>
        </li>
        <li>
          <a
            href="#"
            type="button"
            class="btn signup"
            data-toggle="modal"
            data-target="#signupModal"
          >
            SIGNUP
          </a>
        </li>
      </ul>
      <ul class="myTopnav">
        <div class="navbar navbar-expand-md navbar-light">
          <button
            type="button"
            class="navbar-toggler"
            data-toggle="collapse"
            data-target="#navbarCollapse"
          >
            <i class="fa fa-bars"></i>
          </button>

          <nav
            class="main-menu-nav collapse navbar-collapse"
            id="navbarCollapse"
          >
            <ul class="navbar-nav">
              <li>
                <a href="#" class="active"
                  ><img
                    src="../../assets/images/home-icon.png"
                    width=""
                    height=""
                    alt=""
                /></a>
              </li>
              <li>
                <a href="#">Exporters</a>
              </li>
              <li>
                <a href="#">Products</a>
              </li>
              <li>
                <a href="#">About</a>
              </li>
              <li>
                <a href="#">News</a>
              </li>
              <li>
                <a href="#">Contact</a>
              </li>
              <li>
                <a href="#">Registration</a>
              </li>
              <li>
                <a
                  href="#"
                  type="button"
                  class="btn login"
                  data-toggle="modal"
                  data-target="#loginModal"
                >
                  LOGIN
                </a>
              </li>
              <li>
                <a
                  href="#"
                  type="button"
                  class="btn signup"
                  data-toggle="modal"
                  data-target="#signupModal"
                >
                  SIGNUP
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </ul>
    </nav>
  </div>
  <!-- =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- -->
  <div
    class="modal login fade"
    id="loginModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="loginModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body signin">
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true"
              ><img
                src="../../assets/images/close.png"
                width=""
                height=""
                alt=""
            /></span>
          </button>
          <h1>SIGN IN</h1>
          <p>To continue your account</p>
          <div class="form-row">
            <div class="form-group col-sm-12">
              <label for="email"
                ><img
                  src="../../assets/images/email.png"
                  width=""
                  height=""
                  alt=""
                />
                Email</label
              >
              <input type="email" class="form-control" id="email" />
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-sm-12">
              <label for="email"
                ><img
                  src="../../assets/images/locked-padlock.png"
                  width=""
                  height=""
                  alt=""
                />
                Password</label
              >
              <input type="email" class="form-control" id="email" />
              <img
                class="eye"
                src="../../assets/images/eye.png"
                width=""
                height=""
                alt=""
              />
            </div>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckDefault"
            />
            <label class="form-check-label" for="flexCheckDefault">
              Remember me
            </label>
          </div>
          <button class="btn login">Log in</button>
          <div class="forgotP">
            <a
              href="#"
              type="button"
              class="btn forgot"
              data-dismiss="modal"
              aria-label="Close"
              data-toggle="modal"
              data-target="#forgetpasswordModal"
              ><span aria-hidden="true">Forgot password?</span></a
            >
          </div>
          <div class="orloginwith">
            <span></span>
            <p>or Login with</p>
            <span></span>
          </div>
          <div class="sociallinks">
            <a href="#"
              ><img
                src="../../assets/images/facebooklogin.png"
                width=""
                height=""
                alt=""
            /></a>
            <a href="#"
              ><img
                src="../../assets/images/googlelogin.png"
                width=""
                height=""
                alt=""
            /></a>
            <a href="#"
              ><img
                src="../../assets/images/twitterlogin.png"
                width=""
                height=""
                alt=""
            /></a>
          </div>
          <div class="sociallinks">
            <p>Don't have an account?</p>
            <a
              href="#"
              type="button"
              data-dismiss="modal"
              aria-label="Close"
              data-toggle="modal"
              data-target="#loginModal"
              ><span aria-hidden="true">Sign Up</span></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- =-=-=-=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-=-=-- -->
  <div
    class="modal login fade"
    id="signupModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="signupModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body signin">
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true"
              ><img
                src="../../assets/images/close.png"
                width=""
                height=""
                alt=""
            /></span>
          </button>
          <h1>SIGN UP</h1>
          <p>Enter the following information to create an account</p>
          <div class="form-row">
            <div class="form-group col-md-6 col-sm-12">
              <label for="email"
                ><img
                  src="../../assets/images/user-blue.png"
                  width=""
                  height=""
                  alt=""
                />
                Full Name</label
              >
              <input type="email" class="form-control" id="email" />
            </div>
            <div class="form-group col-md-6 col-sm-12">
              <label for="email"
                ><img
                  src="../../assets/images/user-blue.png"
                  width=""
                  height=""
                  alt=""
                />
                Full Name</label
              >
              <input type="email" class="form-control" id="email" />
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-sm-12">
              <label for="email"
                ><img
                  src="../../assets/images/email.png"
                  width=""
                  height=""
                  alt=""
                />
                Email</label
              >
              <input type="email" class="form-control" id="email" />
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-sm-12">
              <label for="email"
                ><img
                  src="../../assets/images/locked-padlock.png"
                  width=""
                  height=""
                  alt=""
                />
                Password</label
              >
              <input type="email" class="form-control" id="email" />
              <img
                class="eye"
                src="../../assets/images/eye.png"
                width=""
                height=""
                alt=""
              />
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-sm-12">
              <label for="email"
                ><img
                  src="../../assets/images/locked-padlock.png"
                  width=""
                  height=""
                  alt=""
                />
                Confirm Password</label
              >
              <input type="email" class="form-control" id="email" />
              <img
                class="eye"
                src="../../assets/images/eye.png"
                width=""
                height=""
                alt=""
              />
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-sm-12">
              <label for="email"
                ><img
                  src="../../assets/images/Group 16168.png"
                  width=""
                  height=""
                  alt=""
                />
                Phone</label
              >
              <input type="email" class="form-control" id="email" />
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-sm-12">
              <label for="email"
                ><img
                  src="../../assets/images/Path 21137.png"
                  width=""
                  height=""
                  alt=""
                />
                Company Name</label
              >
              <input type="email" class="form-control" id="email" />
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-sm-12">
              <label for="email"
                ><img
                  src="../../assets/images/Group 16167.png"
                  width=""
                  height=""
                  alt=""
                />
                Category</label
              >
              <input type="email" class="form-control" id="email" />
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-sm-12">
              <label for="email"
                ><img
                  src="../../assets/images/location-pin.png"
                  width=""
                  height=""
                  alt=""
                />
                City</label
              >
              <input type="email" class="form-control" id="email" />
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-sm-12">
              <label for="email"
                ><img
                  src="../../assets/images/flag.png"
                  width=""
                  height=""
                  alt=""
                />
                Country</label
              >
              <input type="email" class="form-control" id="email" />
            </div>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="checkbox"
              value=""
              id="flexCheckDefault"
            />
            <label class="form-check-label" for="flexCheckDefault">
              I accept the <span> Terms & Conditions </span> and
              <span> Privacy Policy. </span>
            </label>
          </div>
          <button class="btn login">Sign Up</button>
          <!-- <div class="forgotP">
          <a href="#" type="button" class="btn forgot" data-dismiss="modal" aria-label="Close" data-toggle="modal"
            data-target="#forgetpasswordModal"><span aria-hidden="true">Forgot
              password?</span></a>
        </div> -->
          <div class="orloginwith">
            <span></span>
            <p>or Sign Up with</p>
            <span></span>
          </div>
          <div class="sociallinks">
            <a href="#"
              ><img
                src="../../assets/images/facebooklogin.png"
                width=""
                height=""
                alt=""
            /></a>
            <a href="#"
              ><img
                src="../../assets/images/googlelogin.png"
                width=""
                height=""
                alt=""
            /></a>
            <a href="#"
              ><img
                src="../../assets/images/twitterlogin.png"
                width=""
                height=""
                alt=""
            /></a>
          </div>
          <div class="sociallinks">
            <p>Already have an account?</p>
            <a
              href="#"
              type="button"
              data-dismiss="modal"
              aria-label="Close"
              data-toggle="modal"
              data-target="#loginModal"
              ><span aria-hidden="true">Log In</span></a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- -->
  <div
    class="modal forget fade"
    id="forgetpasswordModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="forgetpasswordModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body signin">
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true"
              ><img
                src="../../assets/images/close.png"
                width=""
                height=""
                alt=""
            /></span>
          </button>
          <h1>Forgot Password?</h1>
          <p class="forget">
            To reset your password enter your email address and click send. If
            you have a valid email address, you will receive instructions on how
            to reset your password.
          </p>
          <div class="form-row">
            <div class="form-group col-sm-12">
              <label for="email"
                ><img
                  src="../../assets/images/email.png"
                  width=""
                  height=""
                  alt=""
                />
                Email</label
              >
              <input type="email" class="form-control" id="email" />
            </div>
          </div>
          <button
            class="btn login"
            data-dismiss="modal"
            aria-label="Close"
            data-toggle="modal"
            data-target="#confirmModal"
          >
            <span aria-hidden="true"> Done</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= -->
  <div
    class="modal forget fade"
    id="confirmModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="confirmModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body signin">
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true"
              ><img
                src="../../assets/images/close.png"
                width=""
                height=""
                alt=""
            /></span>
          </button>
          <div class="thankyou">
            <img
              src="../../assets/images/thankyoucheck.png"
              width=""
              height=""
              alt=""
            />
          </div>
          <h1>RESET Password</h1>
          <p class="forget">
            A message has been sent to you by email with instructions on how to
            reset your password
          </p>
          <button
            class="btn login"
            data-dismiss="modal"
            aria-label="Close"
            data-toggle="modal"
            data-target="#resetModal"
          >
            <span aria-hidden="true"> Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= -->
  <div
    class="modal forget fade"
    id="resetModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="resetModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body signin">
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true"
              ><img
                src="../../assets/images/close.png"
                width=""
                height=""
                alt=""
            /></span>
          </button>
          <h1>RESET PASSWORD</h1>
          <p class="forget">Please enter your new password</p>
          <div class="form-row">
            <div class="form-group col-sm-12">
              <label for="email"
                ><img
                  src="../../assets/images/locked-padlock.png"
                  width=""
                  height=""
                  alt=""
                />
                New Password</label
              >
              <input type="email" class="form-control" id="email" />
              <img
                class="eye"
                src="../../assets/images/eye.png"
                width=""
                height=""
                alt=""
              />
            </div>
          </div>
          <div class="form-row">
            <div class="form-group col-sm-12">
              <label for="email"
                ><img
                  src="../../assets/images/locked-padlock.png"
                  width=""
                  height=""
                  alt=""
                />
                Confirm Password</label
              >
              <input type="email" class="form-control" id="email" />
              <img
                class="eye"
                src="../../assets/images/eye.png"
                width=""
                height=""
                alt=""
              />
            </div>
          </div>
          <button
            class="btn login"
            data-dismiss="modal"
            aria-label="Close"
            data-toggle="modal"
            data-target="#changeModal"
          >
            <span aria-hidden="true"> Done</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- =-=-=-=-=-=-=-=-=-=-=--=-=-= -->
  <div
    class="modal forget fade"
    id="changeModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="changeModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body signin">
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true"
              ><img
                src="../../assets/images/close.png"
                width=""
                height=""
                alt=""
            /></span>
          </button>
          <div class="thankyou">
            <img
              src="../../assets/images/thankyoucheck.png"
              width=""
              height=""
              alt=""
            />
          </div>
          <h1>Password Changed!</h1>
          <p class="forget">Your password was successfully changed .</p>
          <button
            class="btn login"
            data-dismiss="modal"
            aria-label="Close"
            data-toggle="modal"
            data-target="#loginModal"
          >
            <span aria-hidden="true"> Next</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <!-- =-=-=-=-=-=-=-==-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=--=-=-=-=-=-=-- -->
  <div class="headmainbanner">
    <div class="banner">
      <img
        src="../../assets/images/Banner.png"
        height=""
        width=""
        alt="banner"
      />
      <div class="cont">
        <p>Pakistan's First Export Portal</p>
        <h1>FINDING EXPORTERS IN PAKISTAN MADE EASIER</h1>
        <div class="inputSearch">
          <input
            type="text"
            name="search"
            placeholder="Type here to search.."
          />
          <button class="btn">Search</button>
        </div>
        <div class="form-row">
          <div class="form-group col-3">
            <input
              type="text"
              class="form-control"
              id="inputCity"
              placeholder="Exporter"
            />
          </div>
          <div class="form-group col-3">
            <select id="inputState" class="form-control">
              <option selected>Choose...</option>
              <option>...</option>
            </select>
          </div>
          <div class="form-group col-3">
            <input
              type="text"
              class="form-control"
              id="inputZip"
              placeholder="Product"
            />
          </div>
          <div class="form-group col-3">
            <select id="inputState" class="form-control">
              <option selected>Choose...</option>
              <option>...</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
