<main class="main">
  <section class="brandlogos">
    <img src="../../assets/images/spon-6.png" width="" height="" alt="" />
    <img src="../../assets/images/spon-3.png" width="" height="" alt="" />
    <img src="../../assets/images/spon-4.png" width="" height="" alt="" />
    <img src="../../assets/images/spon-5.png" width="" height="" alt="" />
    <img src="../../assets/images/spon-2.png" width="" height="" alt="" />
    <img src="../../assets/images/spon-1.png" width="" height="" alt="" />
  </section>
</main>
